<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Otokar_DMSConnectionString" 
         connectionString="Data Source=195.87.241.52;Initial Catalog=Otokar-DMS_TEST;Persist Security Info=True;User ID=web03;Password=web03123;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="passwordKey" value="ysIGuIEyj6rcJf3dE63mng==" />
    <add key="initVector" value="tu89geji340t89u2" />
    <!--<add key="ServerName" value="172.18.228.55"/>
    <add key="DatabaseName" value="Otokar-DMS"/>
    <add key="UserID" value="DMSUser"/>
    <add key="Password" value="Xyz123"/>--> 
  <add key="ServerName" value="195.87.241.52"/>
    <add key="DatabaseName" value="Otokar-DMS_TEST"/>
    <add key="UserID" value="web03"/>
    <add key="Password" value="web03123"/>
  </appSettings> 


</configuration>
