@{
    ViewBag.Title = CommonUtility.GetResourceValue("Role_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />
 

@model ODMSModel.Role.RoleIndexViewModel
 
<div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
    <div class="shortTxtDiv">&nbsp;@Html.DisplayFor(v => v.AdminDesc) </div>

    <div class="labelDiv">@Html.LabelFor(v => v.RoleTypeName)</div>
    <div class="shortTxtDiv">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = false }); }  </div>
<div class="clearDiv">&nbsp;</div>
<br/>



                                  
