@{
    ViewBag.Title = MessageResource.FleetRequest_PageTitle_Details;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using ODMSCommon.Resources
@model ODMSModel.FleetRequest.FleetRequestViewModel

<div class="labelDiv">@Html.LabelFor(b => b.Description)&nbsp;</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.Description)&nbsp;</div>
    <div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(b => b.StatusName)&nbsp;</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.StatusName)&nbsp;</div>
<br />
<script>
    $(document).ready(function () {
        adjustPage();
    });
    function adjustPage() {
        $("#popupContent").css("width", 380);
        $("#popupContentWrapper").css("min-height", 370);
        $("#popupContentWrapper").css("height", 370);
        $("#popupContentWrapper").css("width", 380);
    }
</script>