@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<a href="@Url.Action("GetVehicleDeliveryVoucherReport", "Home")"> Get Vehicle Delivery Report </a>

<br />

<a href="@Url.Action("GetSparePartPositionedFormReport", "Home")"> Get Spare Part Positioned Form Report </a>

<br />

<a href="@Url.Action("ClaimDismantledPartReport", "Home")"> Get Claim Dismantled Part Report </a>
