@{
    ViewBag.Title = CommonUtility.GetResourceValue("DealerRegion_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<style>
    #popupContentWrapper {
        min-height: 180px !important;
    }
    #popupContent {
        width: 580px !important;
    }
</style>

@model ODMSModel.DealerRegion.DealerRegionIndexViewModel
 
<div class="labelDiv">@Html.LabelFor(v => v.DealerRegionName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.DealerRegionName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<br />




