@model ODMSModel.Integration.IntegrationDetailListModel
@{
    Layout = null;
    ViewBag.Title = CommonUtility.GetResourceValue("Integration_Detail_PageTitle_Index");
}
<div class="row">
    @Model.RequestParams
</div>