@using ODMSCommon.Resources
@model ODMSModel.FleetVehicle.FleetVehicleViewModel
 
<style type="text/css">
    #popupContentWrapper{ min-height: 250px !important;}
</style>
@{
    ViewBag.Title = MessageResource.FleetVehicle_PageTitle_Details;
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}
<div class="labelDiv">@Html.LabelFor(v => v.CustomerName)</div>
<div class="shortTxtDiv">@Model.CustomerName &nbsp; </div>
<div class="clearDiv">&nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.VehicleId)</div>
<div class="shortTxtDiv">@Model.VehicleName &nbsp;</div>
<div class="clearDiv">&nbsp;</div>


