@{
    ViewBag.Title = CommonUtility.GetResourceValue("NoAuthorization_PageTitle_Index");   
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>@CommonUtility.GetResourceValue("Global_Display_AuthorizationError")</h2>
@if (ViewBag.PermissionList != null)
{
    foreach (var permissionCode in ViewBag.PermissionList)
    {
    <a>@permissionCode</a>
    }
}

<script>
    $(document).ready(function () {
        if (window.top!=window) {
            window.parent.location.reload();
        }
    });

</script>