@model ODMSModel.GeneralParameter.GeneralParameterViewModel
@using ODMSCommon.Resources
@using ODMSModel.GeneralParameter

@{
    ViewBag.Title = MessageResource.GeneralParameter_PageTitle_Index;
}


@*scripts start*@
    <script type="text/javascript">
        $(document).ready(init);

function init() {

    $("body").delegate(".modalClickMainLabour", "click", function(e) {
        $('#modelWindow').html('');
        e.preventDefault();

        var link = $(this).attr("href");
        var clickedId = $(this).attr("id");
        var frameTitle = $(this).attr("frameTitle");
        if ($(this).hasClass("edit")) {
            link = "@Url.Action("GeneralParameterUpdate", "GeneralParameter", new {id = -1})";
            link = link.replace("-1", clickedId);
            $("#modelWindowMaintLabour_wnd_title").html(frameTitle);
        }

        var windowWidget = $("#modelWindowMaintLabour").data("kendoWindow");
        var closeOrigin = windowWidget.close;

        windowWidget.refresh({
            url: link
        }).center();
        windowWidget.center();
        windowWidget.open();
       
    });
}
</script>
@*scripts end*@


@*grid start*@
<div class="kendoGridDiv" id="grd2">
    @(Html.Kendo().Grid<GeneralParameterListModel>()
          .Name("GeneralParameterGrid")

          .Columns(columns =>
              {
                  columns.Bound(p => p.ParameterId).ClientTemplate("<center><a class='edit modalClickMainLabour' id='#=ParameterId#' frameTitle='" + CommonUtility.GetResourceValue("GeneralParameter_PageTitle_Update") + "' href='" + Url.Action("GeneralParameterUpdate", "GeneralParameter") + "'><img class=iconLink src='" + Url.Content("~/Images/edit.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Update")).Width(60).Sortable(false).Visible(ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.GeneralParameter.GeneralParameterUpdate));
                  columns.Bound(p => p.Description).Width(150).Sortable(true);
                  columns.Bound(p => p.Value).Width(120).Sortable(true);
              })
          .Pageable()
          .Sortable()
          .Scrollable()


          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListGeneralParameters", "GeneralParameter", Model))
                                        .Model(model => model.Field(o => o.ParameterId).DefaultValue(-1)))
                                        )


</div>
@*grid end*@

@*modelWindow start*@
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindowMaintLabour")
     .Draggable()
    .Resizable()
    .Width(500) 
    .Height(250)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#GeneralParameterGrid').data('kendoGrid');      
        grid.dataSource.read();
    }"))
    )
</div>
@*modelWindow end*@


