@using Kendo.Mvc.UI.Fluent
@using ODMSCommon.Resources
@model List<ODMSCommon.Security.MenuItemInfo>
    @*
           2. yöntem : IEnumberable ve Enumerator objeleri ile de çalışıyor, fakat menu'yu cookie'de saklamak istediğimiz için sorun çıkarıyor.
                       JSON serialization esnasında, menu objesini serialize edemiyor.
          @(Html.Kendo().Menu()
              .Name("menu") //The name of the menu is mandatory. It specifies the "id" attribute of the widget.
              .BindTo(Model, mappings =>
              {
                  mappings.For<MenuItemModel>(binding => binding //define first level of menu
                      .ItemDataBound((item, category) => //define mapping between menu item properties and the model properties
                          {
                          item.Text = category.Text;
                              item.ActionName = category.ActionName;
                              item.ControllerName = category.ControllerName;
                          })
                      .Children(category => category.Children)); //define which property of the model contains the children
                  mappings.For<MenuItemModel>(binding => binding
                      .ItemDataBound((item, product) =>
                      {
                          item.Text = product.Text;
                          item.ActionName = product.ActionName;
                          item.ControllerName = product.ControllerName;
                      }));
            })
        )*@

    @functions{
        public void AddChildren(MenuItemBuilder builder, ODMSCommon.Security.MenuItemInfo item, List<ODMSCommon.Security.MenuItemInfo> children)
        {
            builder.Items(menuItems =>
            {
                foreach (var child in children.OrderBy(v => v.Text))
                {
                    var menuItem = menuItems.Add().Text(child.Text).Action(child.ActionName, child.ControllerName);
                    if (child.ControllerName == "Catalog" && (child.ActionName == "CatalogIndex" || child.ActionName == "CatalogAdminIndex"))
                    {
                        menuItem = menuItem.LinkHtmlAttributes(new { @target = "_blank" });
                    }

                    menuItem = menuItem.HtmlAttributes(new { style = "border-bottom: 1px solid #dfd6d6;" });

                    AddChildren(menuItem, child, child.Children.OrderBy(v => v.OrderNo).ToList());
                }
            });
        }
    }
    @if (Model != null && Model.Any())
    {
        <div style="left: 0px; top: 0px; margin-left: 0px; margin-right: 0px; font-size: 14px">
            @(Html.Kendo().Menu()
                                        .Name("menu2")
                                            .Items(menu =>
                                            {
                                                foreach (var item in Model.OrderBy(v => v.OrderNo))
                                                {
                                                    var builder = menu.Add().Text(item.Text).Action(item.ActionName, item.ControllerName).HtmlAttributes(new
                                                    {
                                                        id = item.MenuItemId == 4000 ? "favoriScreen" : ""
                                                    });
                                                    AddChildren(builder, item, item.Children);
                                                }
                                            }
                                           ).SecurityTrimming(s => s.HideParent(true))

           )
        </div>
    }

    <script>
        $(document).ready(function () {
            $('li[role="menuitem"]').attr("class", "k-item k-state-default");
        });
    </script>


    <script>
        $(document).ready(function () {
            setMenuSearchFirstLoad();
        });

        function setMenuSearchFirstLoad() {

            $("#menu2").append("<li class=\"k-item k-state-default\"><input style='text-align: center;height: 28px;border: 1.4px solid #50a3ec;' type=\"text\" name=\"menuSearch\" value=\"\" placeholder=\"@MessageResource.Menu_Menu_Search\" onkeyup=\"menuSearch(this.value)\" /><div class=\"menuSearchResults\"> </li>");

            $(".menuSearchResults").parent().find("input").hover(function () {
                menuSearch(this.value);
            });

            $(".menuSearchResults").hover(
            function () {

            }, function () {
                $(".menuSearchResults").hide();
            });
        }

        function menuSearch(searchKey) {

            var menuSearchObj = $(".menuSearchResults");
            menuSearchObj.html("");

            searchKey = searchKey.toLocaleLowerCase();
            if (searchKey == "") {
                menuSearchObj.hide();
                menuSearchObj.parent().find("input").val("");
            }
            else {
                var menuSearchResults = "";

                var menuList = $("#menu2 > li:not(#favoriScreen) a").sort(function (a, b) {

                    var sortA = $(a).text();
                    var sortB = $(b).text();
                    return (sortA < sortB) ? -1 : (sortA > sortB) ? 1 : 0;
                });

                menuList.each(function () {
                    
                    var tx = $(this).text().toLocaleLowerCase();

                    if (tx.indexOf(searchKey) > -1) {
                        menuSearchResults += (this.outerHTML);
                    }
                });

                menuSearchObj.html(menuSearchResults);
                menuSearchObj.show();
            }



        }

    </script>

    <style>
        .menuSearchResults {
            padding: 2px;
            display: none;
            position: absolute;
            top: 33px;
            left: 0px;
            z-index: 1000;
            background-color: white;
            max-height: 350px;
            overflow-y: scroll;
            min-width: 300px;
        }

            .menuSearchResults .k-link {
                padding: 5px !important;
                border-right: none !important;
                display: block;
                border-bottom: 1px solid #dfd6d6;
            }

                .menuSearchResults .k-link:hover {
                    background-color: #ebebeb !important;
                    /*color: #148bf1 !important;*/
                }
    </style>
