
<script>
    //ajax response time alınır.
    var responseTime = -1;
    $(document).ajaxSuccess(function (data, textStatus) {
        responseTime = textStatus.getResponseHeader('ResponseTime');
        writeReponseTimeForGrid();
    });

    var fncName = "";
    $(document).ready(function () {
        if ($("#gridList").data("kendoGrid") != null) {
            var dataSource = $("#gridList").data("kendoGrid").dataSource;
            if (dataSource._events.requestEnd !== undefined && dataSource._events.requestEnd.length > 0 && dataSource._events.requestEnd[0].name != "writeReponseTimeForGrid") {
                fncName = dataSource._events.requestEnd[0].name;
            }

            dataSource.unbind("requestEnd");
            dataSource.bind("requestEnd", function (e) {
                writeReponseTimeForGrid();
                if (fncName != "") {
                    window[fncName](e);
                }
            });
        }
    });

    //kendo grid datasource request end  de gride response time yazılır.
    function writeReponseTimeForGrid() {
        if (responseTime != null && responseTime >= 0) {
            $("#gridList .responseTime").remove();
            $("#gridList .k-pager-info").after('<span class="k-label responseTime" style="margin-left: 14px;">@CommonUtility.GetResourceValue("Reports_Process_Time") : ' + responseTime + ' @CommonUtility.GetResourceValue("Second")</span>');
        }
    }
</script>