@using ODMSCommon.Resources
@using ODMSModel.Reports
@{
    Layout = "~/views/shared/popup_layout.cshtml";
}

@*@Html.ExportExcelButton(new ExcelExportDto("Reports", "CampaignVehicleList", "CampaignVehicleReportFilterFunc", "sdfsdf", filterId: "searchFields", reportName: MessageResource.CampaignVehicle_PageTitle_Index).Build<ODMSModel.CampaignVehicle.CampaignVehicleListModel, object>(c => c.VinNo, c => c.IsUtilizedName))*@

@if (ODMSHelpers.UserHasPermission(CommonValues.PermissionCodes.Reports.CampaignSummaryExcelExport))
{
    @Html.ExportExcelButton(new ExcelExportDto("Reports", "CampaignVehicleList", "CampaignVehicleReportFilterFunc", "sdfsdf", filterId: "searchFields", reportName: MessageResource.CampaignVehicle_PageTitle_Index).Build<ODMSModel.CampaignVehicle.CampaignVehicleListModel, object>(c => c.VinNo, c => c.IsUtilizedName))
}
<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<ODMSModel.CampaignVehicle.CampaignVehicleListModel>()
          .Name("CampaignVehicleGrid")

          .Columns(columns =>
          {
              columns.Bound(p => p.VinNo).Width(100).Sortable(true);
              //columns.Bound(p => p.IsActiveName).Width(100).Sortable(true);
              columns.Bound(p => p.IsUtilizedName).Width(40).Sortable(true);
              columns.Bound(p => p.DealerName).Width(100).Sortable(true);
              columns.Bound(p => p.WorkOrderID).ClientTemplate(String.Format("<a class='k-link' target='_blank' href='{0}/#=WorkOrderID#'>#=WorkOrderID#</a>", Url.Action("WorkOrderCardIndex", "WorkOrderCard"))).Width(40).Sortable(true);
              columns.Bound(p => p.WorkOrderVehicleLeaveDate).Width(60).Sortable(true).Format("{0:dd/MM/yyyy}");
              columns.Bound(p => p.WorkOrderKM).Width(40).Sortable(true);
              columns.Bound(p => p.IsCanceledName).Width(50).Sortable(true);
              columns.Bound(p => p.DenyReason).Width(50).Sortable(true);
              columns.Bound(p => p.CancelReason).Width(50).Sortable(true);
          })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("CampaignVehicleList", "Reports", new { campaignCode = ViewBag.CampaignCode }))

    ))
</div>
@*new {campaignCode= ViewBag.CampaignCode }*@
<script>
    function CampaignVehicleReportFilterFunc() {
        return {
            campaignCode: '@ViewBag.CampaignCode'
        };
    }
</script>
