@{
    ViewBag.Title = CommonUtility.GetResourceValue("Title_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />


@model ODMSModel.Title.TitleIndexViewModel

<div class="labelDiv">@Html.LabelFor(v => v.AdminDesc)</div>
<div class="shortTxtDiv">&nbsp;@Html.DisplayFor(v => v.AdminDesc) </div>

<div class="labelDiv">@Html.LabelFor(v => v.TitleName)</div>
<div class="shortTxtDiv">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = Model.MultiLanguageContentAsText, IsEnabled = false }); }  </div>

<div class="labelDiv">@Html.LabelFor(v => v.IsTechnician)</div>
<div class="shortTxtDiv">&nbsp;@Html.DisplayFor(v => v.IsTechnicianName) </div>

<div class="clearDiv">&nbsp;</div>
<br />




