@{
    Layout = null;
}
@using System.Linq
@using ODMSCommon.Resources
@model ODMSModel.CampaignRequest.CampaignRequestViewModel
<style>
    a:focus {
        outline: none;
        outline-offset: -2px;
    }

    #campaign-info {
        padding: 5px;
        margin-top: 6px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 4px;
    }

    #popupContentWrapper {
        height: 450px !important;
    }

    #popupContent {
        width: 97% !important;
    }

    body {
        overflow: hidden;
    }
</style>



<div class="alert alert-info">
    <strong>
        Kampanya talebini neden reddetmek istiyorsunuz?
    </strong>
</div>

<textarea id="txtRejectionNote" type="text" name="RejectionNote" class="text-box" value="" maxlength="1000" style="width:100%;height:75px;" />

<div id="warning-wrap" class="alert alert-danger" style="display:none;margin-top:5px;">
    <a class="close" onclick="$('.alert').fadeOut();">&times;</a>
    <strong></strong>
</div>
<div class="clearDiv"></div>

<div style="margin-top:6px;" id="buttons">
    <button class="btn btn-default" onclick="Reject()">
        <i class="glyphicon glyphicon-save"></i> @MessageResource.Global_Display_Save
    </button>
</div>




<script>

    function Reject() {

        var warnWarp = $("#warning-wrap");
        warnWarp.removeClass("alert-danger alert-success").hide();

        var _note = $("#txtRejectionNote").val();

        if (_note !="") {
            $.ajax({
                type: "POST",
                url: "@Url.Action("CampaignRequestApproveReject", "CampaignRequestApprove")",
                data: {
                id: @Model.IdCampaignRequest,
                rejectionNote: _note,
                "__RequestVerificationToken": '@Model.token'  },
                traditional: true,
                success: function (result) {
                    warnWarp.addClass("alert-success").show().find("strong").html(result.Message);
                },
                dataType: "json"
            });
        }
        else {
            warnWarp.addClass("alert-danger").show().find("strong").html("Lütfen red notunu giriniz.");
        }

       

    }

</script>

