 @model Int64
<div id="pdiResultsWraploading" class="ajax-loading hide" >
</div>
<div id="warning-wrap655" class="alert" style="display:none">
    <a class="close"  onclick="$('.alert').fadeOut();">&times;</a> 
    <strong></strong></div>

<div id="pdiResultsWrap" style="overflow-x: hidden; overflow-y: scroll; ">
    
</div>
<script type="text/javascript">
    $(document).ready(function (){getPdiResults();});
    function getPdiResults() {
        $("#pdiResultsWraploading").removeClass("hide");
        $.get('@Url.Action("GetPdiPackageResults", new { id=Model })', function(html) {
            $("#pdiResultsWrap").html(html);
            $("#pdiResultsWraploading").addClass("hide");
        });
    }

</script>

