@{
    ViewBag.Title = MessageResource.Bank_PageTitle_Details;
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using ODMSCommon.Resources
@model ODMSModel.Bank.BankDetailModel

<div class="labelDiv" style="width: 100px">@Html.LabelFor(b => b.Code)&nbsp;</div>
<div class="shortTxtDiv" style="position: absolute; margin-left: 100px; width: 100px">@Html.DisplayFor(b => b.Code)&nbsp;</div>
<div class="labelDiv" style="position: absolute; margin-top: 20px; width: 100px">@Html.LabelFor(b => b.Name)&nbsp;</div>
<div class="shortTxtDiv" style="position: absolute; margin-top: 20px; margin-left: 100px; width: 100px">@Html.DisplayFor(v => v.Name)&nbsp;</div>
<br />

<script>
    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContent").css("width", 350);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 180);
        $("#popupContentWrapper").css("width", 360);
    }
</script>