.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #607190;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    animation: spin 2s linear infinite;
    padding: 2px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.k-item>.k-link{
    color:black !important;
    font-weight:500;
}

.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link
{
     color:black !important;
     border-right: 1px solid #cccccc;
}

#showSearch
{
     color:black !important;
}


.k-block, .k-header, .k-grid-header, .k-toolbar, .k-grouping-header, .k-pager-wrap, .k-button, .k-draghandle, html .km-pane-wrapper .k-header
{
    background-color: #fbfbfb;  
     
}