@{
    ViewBag.Title = MessageResource.EducationType_PageTitle_Details;
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<link href="~/Style/bootstrap.css" rel="stylesheet" />

@using ODMSCommon.Resources
@model ODMSModel.EducationType.EducationTypeDetailModel

<div class="labelDiv" style="width: 120px">@Html.LabelFor(b => b.Name)&nbsp;</div>
<div class="shortTxtDiv" style="position: absolute; margin-left: 120px; width: 120px">@Html.DisplayFor(b => b.Name)&nbsp;</div>
<div class="labelDiv" style="position: absolute; margin-top: 30px; width: 120px">@Html.LabelFor(b => b.Description)&nbsp;</div>
<div class="shortTxtDiv" style="position: absolute; margin-top: 30px; margin-left: 120px; width: 250px">@Html.DisplayFor(v => v.Description)&nbsp;</div>
<br />

<script>
    $(function () {
        adjustPage();
    });

    function adjustPage() {
        $("#popupContent").css("width", 400);
        $("#popupContentWrapper").css("min-height", 100);
        $("#popupContentWrapper").css("height", 400);
        $("#popupContentWrapper").css("width", 410);
    }
</script>