@using ODMSCommon.Resources
@using ODMSCommon.Security
@using ODMSModel.GuaranteeRequestApproveDetail

@model Part_Infos
@{
    ViewBag.Title = @MessageResource.GUARANTEE_REQUEST_APPROVE_DETAIL_PART_INFOS;
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}
<script>

    function SearchVehicleHistoryDetail() {
        return {
            id: @ViewBag.id
            };
    }
</script>
<div class="kendoGridDiv" id="gridDet">
    @(Html.Kendo().Grid<Part_Infos>()
          .Name("gridPartInfos")
          .HtmlAttributes(new { style = "width: 1420px;" })
          .Columns(columns =>
          {
              columns.Bound(b => b.PartName).Width(100).Sortable(true);
              columns.Bound(b => b.Quantity).Width(100).Sortable(true);
              columns.Bound(p => p.VinNo).Width(60).Sortable(true);
              columns.Bound(b => b.Km).Width(100).Sortable(true);
              columns.Bound(b => b.CustomerName).Width(100).Sortable(true);
              columns.Bound(b => b.WorkOrderId).ClientTemplate(String.Format("<a class='k-link' target='_blank' href='{0}/#=WorkOrderId#'>#=WorkOrderId#</a>", Url.Action("WorkOrderCardIndex", "WorkOrderCard"))).HtmlAttributes(new { style = "text-align:center" }).Sortable(true).Width(70);
              columns.Bound(b => b.WorkOrderDetId).Format("{0:dd/MM/yyyy}").Width(80).Sortable(true);
              columns.Bound(b => b.GuaranteeId).Width(100).Sortable(true);
              columns.Bound(b => b.GuaranteeDesc).Width(80).Sortable(true);

          })
          .Sortable()
                                            .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .PageSize(10)
                                                .ServerOperation(true)
                                                .Read(read => read.Action("ListGuaranteeRequestApproveDetailPartInfo", "GuaranteeRequestApproveDetail", Model).Data("SearchVehicleHistoryDetail")))

    )

</div>