.k-menu .k-state-border-right {
    background-color: #fff !important; 
    color: #fff;
}
    .k-grid {
    overflow-x: auto;
}

.labelDiv
{
    font-weight:bold;
    width: 150px;
    float: left;
}
.redLabelDiv
{
    font-weight:bold;
    width: 150px;
    float: left;
    color: red;
    font-weight: bold;
}
.labelDiv label {

    white-space: pre-wrap;/*Taner: uzun textlerde yazım hatası için koydum*/
}
.clearDiv
{
    clear: both;
    width: 10px;
}
.k-upload-button > span {
    font-weight: bold !important;
}
input[type="submit"] {
     font-weight: bold !important;
}
.k-alt, .k-separator {
    background-color: #e0e0e0;
}
.k-header > span {
     font-weight: bold !important;
}
.k-header > a {
     font-weight: bold !important;
}
.k-pager-info{
    font-weight: bold !important;
}
.k-button {
     font-weight: bold !important;
}
.k-item > .k-link {
    color: #428bca !important;
}
.k-item.k-state-selected {
    background-color: #428bca  !important;
}
.k-item.k-state-selected > a {
    color: white !important;
}
.k-link.k-state-active {
    color: white !important;
}
.k-link.k-state-active.k-state-border-down {
    background-color: #428bca  !important;
}
.lblRight {
        margin-left:-15px
    }

.shortTxtDiv 
{
    width: 300px;
    float: left;
    word-wrap: break-word;
}
.redShortTxtDiv 
{
    width: 300px;
    float: left;
    word-wrap: break-word;
    color:red;
    font-weight:bold;
}
.shortTxtDivObjectSearch
{
    width: 300px;
    float: left;
}


.kendoGridDiv
{
    width: 100%;
    margin-top: 10px;
}

.kendoGridDivObjectSearch
{
    width: 1000px;
    margin-top: 10px;
}

.k-grid-content
{
    height: auto !important;
}

#searchDiv
{
    width: 100%;
    float: left;
    display: none;
}

#searchFields
{
    width: 100%;
    float: left;
}

#showSearch
{
    color: #428BCA;
    cursor: pointer;
    display: table;
    font-weight: bold;
    margin-bottom: 5px;
}
.searchDiv
{
    width: 100%;
    float: left;
    display: none;
}

.searchFields
{
    width: 100%;
    float: left;
}

.showSearch
{
    color: #428BCA;
    cursor: pointer;
    display: table;
    font-weight: bold;
    margin-bottom: 5px;
}

.addNewLanguage
{
    float: left;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}

.selected
{
    background-color: #99FF66;
}

.languageSelection
{
    float: left;
}

.multiLanguageTextBox
{
    float: left;
    width: 200px;
    font-size: 11px;
}


.language
{
    float: left;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.Button
{
    font-size: 11px;
    font-weight: bold;
    width: 110px;
}

.ComboBox
{
    font-size: 11px;
    width: 205px;
}

#languageSelectionDiv
{
    display: none;
    margin: 0 auto;
}

#mlContent
{
    float: left;
    width: 280px;
}

.field-validation-error
{
    color: red;
    font-weight: bold;
    padding-left:10px;
}
.mlRequired
{
    float: left;
    padding-top: 45px;
    margin-left: -75px !important;
}
html>/**/body .shortTxtDiv input[type="text"] , html>/**/body .shortTxtDiv textarea {
    width:200px;
    padding: 2px 0;
    border: 1px solid #c6c5c5;
}
html>/**/body .shortTxtDiv input[role="combobox"] {
    border: none;
    padding: 0 !important;
}

html>/**/body .shortTxtDiv input[data-role="datepicker"] {
    border: none;
    padding: 0 !important;
}

.shortTxtDiv .k-combobox,.shortTxtDiv .k-datepicker, .shortTxtDiv .k-timepicker {
    width: 200px;
}

.shortTxtDiv input[type="text"]:not([role="combobox"]),.shortTxtDiv textarea
{
    width:200px;
    border: 1px solid #c6c5c5;
    padding: 2px 0px;
    outline:transparent none;
    border-radius: 4px;
}

.shortTxtDivObjectSearch input[type="text"]:not([role="combobox"]),.shortTxtDiv textarea
{
    width:150px;
    border: 1px solid #c6c5c5;
    padding: 2px 0px;
    outline:transparent none;
    border-radius: 4px;
}

.shortTxtDiv input[type="text"]:not([role="combobox"]):hover, .shortTxtDiv input[type="text"]:not([role="combobox"]):focus {
     border: 1px solid #bcd4f0;
}

.ListItem {
    height: 20px;
}

.ListItem span {
    font-size: 13px;
    font-weight: bold;
    cursor: default;
}

.ListItem a {
    font-size: 11px;
}
.white-space-fix {
    white-space: pre-wrap;
}
.capitalize {
    text-transform: uppercase;
}
.delete-message {
    width: 300px;
}
textarea,input[type="text"] {
    border: none;
}
.shortTxtDiv,.labelDiv {
    margin-bottom: 2px;
}
.loading {
    display: none;
    background: url(../images/loading.gif) no-repeat;
    width: 16px;
    height: 16px;
    padding: 5px;
}


.arrow_box-left { position: relative; background: #fcfeff; border: 1px solid #585c5c; } 
.arrow_box-left:after, .arrow_box-left:before { left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
.arrow_box-left:after { border-color: rgba(252, 254, 255, 0); border-left-color: #fcfeff; border-width: 6px; margin-top: -6px; } 
.arrow_box-left:before { border-color: rgba(88, 92, 92, 0); border-left-color: #585c5c; border-width: 7px; margin-top: -7px; }

.arrow_box-right { position: relative; background: #fcfeff; border: 1px solid #585c5c; } 
.arrow_box-right:after, .arrow_box-right:before { right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
.arrow_box-right:after { border-color: rgba(252, 254, 255, 0); border-right-color: #fcfeff; border-width: 6px; margin-top: -6px; } 
.arrow_box-right:before { border-color: rgba(88, 92, 92, 0); border-right-color: #585c5c; border-width: 7px; margin-top: -7px; }


/*numeric textbox disapper fix*/
 .k-numerictextbox {
        display: inline-block !important;
    }

 .ajax-loading {
     display: inline-block !important;
     background: url('../Images/ajax-loader.gif') no-repeat;
     width: 16px;
     height: 11px;
     margin: 0 6px;
 }
 #divDetails {
     margin: 10px 0 !important;
 }
 #TabContent {
     padding: 10px !important;
 }
 
a.tabs {
    cursor: pointer;
}

.conteneur_78390{-webkit-perspective:120px;-moz-perspective:120px;-ms-perspective:120px;perspective:120px;height:90px;width:90px} .decalage_pers_78390{-webkit-animation:anim_wifeo 3s infinite linear;-moz-animation:anim_wifeo 3s infinite linear;-ms-animation:anim_wifeo 3s infinite linear;-o-animation:anim_wifeo 3s infinite linear;animation:anim_wifeo 3s infinite linear} .cercle_rouge_78390{border-radius:50px;width:50px;height:50px;border-top:10px solid #d3d3d3;border-right:10px solid #d3d3d3;border-bottom:10px solid #d3d3d3;border-left:10px solid #cb2025;-webkit-animation:anim_rond 1.4s infinite linear;-moz-animation:anim_rond 1.4s infinite linear;-ms-animation:anim_rond 1.4s infinite linear;-o-animation:anim_rond 1.4s infinite linear;animation:anim_rond 1.4s infinite linear} @-webkit-keyframes anim_rond{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}50%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}100%{-webkit-transform:rotate(720deg);-moz-transform:rotate(720deg);-ms-transform:rotate(720deg);transform:rotate(720deg)}} @-webkit-keyframes anim_wifeo{0%{-webkit-transform:rotateY(0deg);-moz-transform:rotateY(0deg);-ms-transform:rotateY(0deg);transform:rotateY(0deg);margin-top:0px}50%{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);transform:rotateY(180deg);margin-top:20px}100%{-webkit-transform:rotateY(360deg);-moz-transform:rotateY(360deg);-ms-transform:rotateY(360deg);transform:rotateY(360deg);margin-top:0px}} @-moz-keyframes anim_rond{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}50%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}100%{-webkit-transform:rotate(720deg);-moz-transform:rotate(720deg);-ms-transform:rotate(720deg);transform:rotate(720deg)}} @-moz-keyframes anim_wifeo{0%{-webkit-transform:rotateY(0deg);-moz-transform:rotateY(0deg);-ms-transform:rotateY(0deg);transform:rotateY(0deg);margin-top:0px}50%{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);transform:rotateY(180deg);margin-top:20px}100%{-webkit-transform:rotateY(360deg);-moz-transform:rotateY(360deg);-ms-transform:rotateY(360deg);transform:rotateY(360deg);margin-top:0px}} @-ms-keyframes anim_rond{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}50%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}100%{-webkit-transform:rotate(720deg);-moz-transform:rotate(720deg);-ms-transform:rotate(720deg);transform:rotate(720deg)}} @-ms-keyframes anim_wifeo{0%{-webkit-transform:rotateY(0deg);-moz-transform:rotateY(0deg);-ms-transform:rotateY(0deg);transform:rotateY(0deg);margin-top:0px}50%{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);transform:rotateY(180deg);margin-top:20px}100%{-webkit-transform:rotateY(360deg);-moz-transform:rotateY(360deg);-ms-transform:rotateY(360deg);transform:rotateY(360deg);margin-top:0px}} @keyframes anim_rond{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}50%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}100%{-webkit-transform:rotate(720deg);-moz-transform:rotate(720deg);-ms-transform:rotate(720deg);transform:rotate(720deg)}} @keyframes anim_wifeo{0%{-webkit-transform:rotateY(0deg);-moz-transform:rotateY(0deg);-ms-transform:rotateY(0deg);transform:rotateY(0deg);margin-top:0px}50%{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);transform:rotateY(180deg);margin-top:20px}100%{-webkit-transform:rotateY(360deg);-moz-transform:rotateY(360deg);-ms-transform:rotateY(360deg);transform:rotateY(360deg);margin-top:0px}}



.conteneur_78390 {
    height: 90px;
    perspective: 120px;
    width: 90px;
}
.decalage_pers_78390 {
    animation: 3s linear 0s normal none infinite anim_wifeo;
}
.cercle_rouge_78390 {
    animation: 1.4s linear 0s normal none infinite anim_rond;
    border-color: #d3d3d3 #d3d3d3 #d3d3d3 #bc0a0a;
    border-radius: 50px;
    border-style: solid;
    border-width: 10px;
    height: 50px;
    width: 50px;
}
@keyframes anim_rond {
0% {
    transform: rotate(0deg);
}
50% {
    transform: rotate(360deg);
}
100% {
    transform: rotate(720deg);
}
}
@keyframes anim_wifeo {
0% {
    margin-top: 0;
    transform: rotateY(0deg);
}
50% {
    margin-top: 20px;
    transform: rotateY(180deg);
}
100% {
    margin-top: 0;
    transform: rotateY(360deg);
}
}
@keyframes anim_rond {
0% {
    transform: rotate(0deg);
}
50% {
    transform: rotate(360deg);
}
100% {
    transform: rotate(720deg);
}
}
@keyframes anim_wifeo {
0% {
    margin-top: 0;
    transform: rotateY(0deg);
}
50% {
    margin-top: 20px;
    transform: rotateY(180deg);
}
100% {
    margin-top: 0;
    transform: rotateY(360deg);
}
}
.vtnr {
    border-top: 0 !important;
    background-color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

td[role="gridcell"] {
    white-space:nowrap;
}

td[role="gridcell"]:hover {
    white-space:normal;
    overflow: visible;
}


tbody[role='rowgroup'] tr:hover {
    background-color: rgb(213, 213, 213) !important;
    transition:background-color .1s;
}