
/** BASIC */

body {
	margin: 0px;
	padding: 0px;
	
	line-height: 20px;
	text-align: justify;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #666666;
}

h1, h2, h3, h4, h5, h6 { 
	font-weight: normal;
}

a {
	color: #0077dd;
}



.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list1 a {
	background: url(images/img01.gif) no-repeat left 60%;
	padding-left: 12px;
}

.list2 {
	margin: 0;
	list-style: none;
}

.list2 a {
	background: url(images/img01.gif) no-repeat left 60%;
	padding-left: 12px;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 3px 20px 0px 0px;
}

/** HEADER */

#headerDiv {
    width: 95%;
	margin: 0px auto;
	padding-top:5px;
	height: 45px;
	color: #254360;
}

#headerDiv h1 {
	margin: 0px;
	padding: 20px 0px 0px 0px;
	text-transform: uppercase;
	font-weight: bold;
}

#headerDiv h2 {
	margin: 0 0 0 -80px;
	padding: 0px 0px 0px 95px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

/** MENU */

#menu {
	width: 1200px;
	margin: 0px auto;
	position: relative;

}
#menuWrapper
{
    width:96%;
    height:30px;
  
 
   padding-bottom:3px;
   padding-top:5px;
   
   
}
#menu ul 
{
     
     padding: 0px;
     
	margin: 0px;
	
	list-style: none;
}



#menu a {
	color:#254360 !important;
	padding: 5px 14px 0px 14px;
	text-decoration: none;
	text-transform: uppercase;
	font-family:Trebuchet MS !important;
	font-size: 17px;
	color: white ;
}

#menu a:hover {
	background: #FFFFFF;
	color: #254360;
}

#menu .active {
	background: #FFFFFF;
	color: #254360;
}
.k-state-active
{
    text-decoration:none !important;
}
/** CONTENT */
#contentWrapper
{
    width:100%;
    position:absolute;
    top:70px;
}
#content {
	width: 95%;
	margin: 0px auto;
	padding: 0px 0px 20px 0px;
	min-height:500px;
background-color:#EDF1F4 !important;
}

#columnA {
	float: right;
	width: 538px;
	padding-left: 20px;
	border-left: 1px dashed #EEEEEE;
}

#columnA h2 {
	height: 22px;
	border-bottom: 1px dashed #EEEEEE;
	font-size: 12pt;
	font-weight: bold;
}

#columnB {
	float: left;
	width: 200px;
}

#columnB h3 {
	height: 22px;
	border-bottom: 1px dashed #EEEEEE;
	border-spacing: 2px;
	font-size: 11pt;
	font-weight: bold;
}

/** FOOTER */

#footer {
	clear: both;
	margin: 0px auto;
	height: 30px;
	margin-top:20px;
	background: url(../images/img03.gif) repeat-x left top;
	text-align: right;
	opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */

position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

#footer p {
	margin: 0px;
	padding: 5px 0px 0px 0px;
	font-size: 12px;
	color: white;
	width: 95%;
	margin: 0px auto;
	font-weight:bold;
	
}

#footer a {
	color: #CCCCCC;
}
.contentTable
{
    margin-top:10px;
    width:100%;
}
.contentTable tr
{
    
}
.contentTable tr td
{
    padding-top:5px;
    padding-bottom:5px;
   
    
}
.ScreenName
{
    color:white;
    font-size:22px;
font-family: 'Source Sans Pro', sans-serif;
    font-weight:400;
    font-style:normal;
    white-space:nowrap;
    display:inline;
    line-height:40px;
    padding-left:10px;
    float:left;
}

.teksatir {
    white-space: nowrap;
}

.t-customhead {
    border-left-width: 6px !important;
    background-color: rgba(204, 204, 204, 0.08);
}
.table-zipped th, .table-zipped td {
    padding: 4px 6px !important;
}
.table-zipped {
    margin-bottom: 0px !important;
}
.button
{
    height: 25px;
    border-right: 2px outset;
    border-top: #cccccc 2px outset;
    font-weight: bold;
    font-size: 8.5pt; 
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#fcfcfc, EndColorStr=#C9C7BA);
    border-left: 2px outset;
    cursor: pointer;
    color: #6e6e6e;
    border-bottom: 1px outset;
    font-family: Tahoma;
    cursor: expression(this.disabled?"default":"pointer");
}
.Button
{
    font-size: 11px;
    font-weight: bold;
    width: 110px;
    height:25px;
    cursor:pointer;
    background-color:#1D384F;
    color:White;
}
.zorunlu
{
    color:Red;
}

/* GRD CSS */
.mGrid { width: 100%; background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #c1c1c1; border-collapse:collapse; }
.mGrid td { padding: 2px; border: solid 1px #c1c1c1; color: #717171; }
.mGrid th { padding: 4px 2px; color: #0F3B5F; background: #E5DBCF; border-left: solid 1px #c1c1c1; font-size: 0.9em;text-align:center; }
.mGrid .row {background-color: #fff;height:30px; }
.mGrid .row:hover{background:#CDC9C9;}
.mGrid .alt { background: #fcfcfc url(images/grd_alt.png) repeat-x top; height:30px; }
.mGrid .alt:hover {background:#CDC9C9;}
.mGrid .pgr {background: #c1c1c1; }
.mGrid .pgr table { margin: 5px 0; }
.mGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }   
.mGrid .pgr a { color: #0F3B5F; text-decoration: none; }  
.mGrid .pgr a:hover { color: #FFFFFF; text-decoration: none; }  

/* RAD MENU */

.RadMenu_Default .rmRootGroup, .RadMenu_Default a.rmLink, .RadMenu_Default .rmGroup .rmText, .RadMenu_Default .rmVertical .rmText, .RadMenu_Default .rmLeftArrow, .RadMenu_Default .rmRightArrow, .RadMenu_Default .rmTopArrow, .RadMenu_Default .rmBottomArrow 
{
    background-image: none !important;
    font-size:16px !important;
}
.RadMenu_Default .rmHorizontal .rmRootLink span.rmText
{
    font-size:18px !important;
}
.RadMenu_Default .rmRootGroup
{
    background-color:transparent !important;
    border:none !important;
    
}
.RadMenu_Default, .RadMenu_Default a.rmLink
{
    color:White !important;
}
.RadMenu_Default a.rmExpanded, .RadMenu_Default a.rmExpanded:hover
{
    color:#1D384F !important;
    background-color:#EDF1F4 !important;
}
a.rmLink:hover
{
   
    cursor:pointer !important;
}
.RadMenu_Default .rmGroup, .RadMenu_Default .rmMultiColumn, .RadMenu_Default .rmGroup .rmVertical
{
 background-color: #1D384F !important;
 background-image:none !important;
}
.RadMenu .rmGroup .rmLink:hover
{
    background-color:#EDF1F4 !important;
    color:#1D384F !important;
    
   
}
.rmGroup .rmLink
{
   
    
}
.rmGroup .rmLink .rmText
{
  margin-left:-20px !important;
  padding-right:20px !important;
}
.RadMenu .rmGroup .rmLink:hover span
{
     
}
.rmLast .rmLink:hover
{
     color:#1D384F !important;
     background-color:#EDF1F4 !important;
     font-size:17px !important;
}
.RadMenu_Default .rmRootGroup, .RadMenu_Default a.rmLink, .RadMenu_Default .rmGroup .rmText, .RadMenu_Default .rmVertical .rmText, .RadMenu_Default .rmLeftArrow, .RadMenu_Default .rmRightArrow, .RadMenu_Default .rmTopArrow, .RadMenu_Default .rmBottomArrow
{
    font-size:14px;
}
.RadMenu_Default a.rmLink:hover, .RadMenu_Default a.rmFocused, .RadMenu_Default a.rmSelected
{
    background-color:#EDF1F4 !important;
}
.RadMenu_Default a.rmLink:hover, .RadMenu_Default a.rmFocused, .RadMenu_Default a.rmSelected:hover
{
   color:#1D384F !important;
}
a.rmSelected
{
    background-color:transparent !important;
    color:White !important;
}
.RadMenu_Default, .RadMenu_Default a.rmLink
{
    font:normal 22px/35px "Segoe UI",Arial,sans-serif !important;
}
.contentTable
{
    font-weight:bold;
}
.arrow-btn {
    width: 40px;
}