.addNewLanguage
{
    width:40px;
    height:20px;
    background-color:#99FF99;
    border:1px solid black;
    float:left;
    text-align:center;
    cursor:pointer;
    float:left;
    margin-left:10px;
}
.selected
{
    background-color:#428bca !important;
}
.languageSelection
{
    float:left;
}
.multiLanguageTextBox
{
    float:left;
    width:200px;
    font-size: 11px;
}
.language
{
    border:1px solid black;
    float:left;
    text-align:center;
    
   
    cursor:pointer;
}
