@using ODMSModel.WorkorderListInvoices
@model WorkorderListInvoicesListModel
@{
    ViewBag.Title = CommonUtility.GetResourceValue("WorkorderListInvoices_PageTitle_Index");
}
 
<br />
<div id="modelWindowDiv">
    @(Html.Kendo().Window()
        .Name("modelWindowWorkorderListInvoices")
     .Draggable()
    .Resizable()
    .Width(950)
    .Height(350)
    .Visible(false)
    .Modal(true)
    .Iframe(true)
    .Events(ev => ev.Close(@"function(e){
         var grid = $('#WorkorderListInvoicesGrid').data('kendoGrid');
        grid.dataSource.page(1);
    }"))
    )
</div>

<div class="kendoGridDiv" id="grd">
    @(Html.Kendo().Grid<WorkorderListInvoicesListModel>()
          .Name("WorkorderListInvoicesGrid")
          .Columns(columns =>
              {
                  columns.Bound(p => p.WorkOrderInvId).ClientTemplate("<center><a class='loadTab' onclick='loadTabs(#=WorkOrderInvId#)' id='#=WorkOrderInvId#'><img class=iconLink src='" + @Url.Content("~/Images/tabs.png") + "'></a></center>").Title(CommonUtility.GetResourceValue("Global_Display_Details")).Width(50).Sortable(false);
                  columns.Bound(p => p.Address).Width(580).Sortable(true);
                  columns.Bound(p => p.InvAmount).Width(100).Sortable(true);
                  columns.Bound(p => p.DueDuration).Width(80).Sortable(true);
                  columns.Bound(p => p.InvNo).Width(80).Sortable(true);
                  columns.Bound(p => p.InvSerialNo).Width(100).Sortable(true);
                  columns.Bound(p => p.InvVatAmount).Width(80).Sortable(true);
                  columns.Bound(p => p.InvDate).Sortable(true);

              })
          .Pageable()
          .Sortable()
          .Scrollable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Read(read => read.Action("ListWorkorderListInvoices", "WorkorderListInvoices", Model))
                                        .Model(model => model.Field(o => o.WorkOrderInvId).DefaultValue(-1)))

          )
</div>
