<input type="hidden"/>
@using ODMSCommon.Resources
@using ODMSModel.EducationRequests

@{
    ViewBag.Title = MessageResource.EducationRequestList_PageTitle_Index;
}
@if (!ViewBag.HideElements)
{

@*grid start*@
    <div class="kendoGridDiv" id="grd2">
        @(Html.Kendo().Grid<EducationRequestsListModel>()
              .Name("EducationRequestsGrid")

              .Columns(columns =>
              {

                  columns.Bound(p => p.EducationRequestId).Width(10).Visible(false);
                  columns.Bound(p => p.TCIdentityNo).Width(80).Sortable(true);
                  columns.Bound(p => p.CustomerName).Width(150).Sortable(true);
                  columns.Bound(p => p.DealerName).Width(150).Sortable(true);
                  columns.Bound(p => p.RequestTime).Format("{0:dd/MM/yyyy HH:mm}").Width(100).Sortable(true);
              })
              .Pageable()
              .Sortable()
              .Scrollable()


              .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(10)
                  .ServerOperation(true)
                  .Read(read => read.Action("ListEducationRequests", "EducationRequestList", new {educationCode = ViewBag.EducationCode})))
              )


    </div>
@*grid end*@

}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            SetErrorMessage("@MessageResource.Error_DB_NoRecordFound");
            });
    </script>
}
 