@model ODMSModel.WebServiceErrorDisplay.WebServiceErrorDisplayViewModel

@{   
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Style/bootstrap.css" rel="stylesheet" />

<style>
    #popupContent {
        width: 97%;
    }
</style>



<script>
    $(document).ready(function () {
        var value = $("#xml").html();
        var data = $.parseXML($("#xml").html(value).text());

        //console.log(data);
    });
</script>


@if (Model.ServiceLogId != 0)
{
    <div id="xml">@Model.Value</div>
}
else
{           
     <div style="margin: 10px;" id="warning-wrap655646sd" class="alert alert-info">
        <a class="close" onclick=" $('.alert').fadeOut(); ">&times;</a>
        <strong>
           @ODMSCommon.Resources.MessageResource.Error_DB_NoRecordFound
        </strong>
    </div>
}

