@{
    ViewBag.Title = CommonUtility.GetResourceValue("CampaignVehicle_PageTitle_Details");
}
@{
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}


@model ODMSModel.CampaignVehicle.CampaignVehicleViewModel
 
<div class="labelDiv">@Html.LabelFor(v => v.VinNo)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.VinNo) &nbsp;</div>
<div class="labelDiv">@Html.LabelFor(v => v.IsActiveName)</div>
<div class="shortTxtDiv">@Html.DisplayFor(v => v.IsActiveName) &nbsp;</div>
<div class="clearDiv">&nbsp;</div>
<br />




