<table class="white-background">
    <tr>
        <td width="1%"><a onclick="history.go(-1);"><img src="@Url.Content("~/content/images/back-button.jpg")"/></a></td>
        <td width="98%" class="text-align-center pageName">@ViewBag.Title</td>
        <td width="1%"><a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/content/images/home-button.jpg")"/></a></td>
    </tr>
</table>
