@model ODMSModel.Equipment.EquipmentViewModel

@{
    ViewBag.Title = CommonUtility.GetResourceValue("EquipmentType_PageTitle_Index");
}


<div class="labelDiv">@Html.LabelFor(v => v.EquipmentTypeName)</div>
<div class="shortTxtDiv">
    <div style="float:left;width:70%">@{ Html.RenderAction("MultiLanguageTextbox", "MultiLanguage", new { DefaultText = "", IsEnabled = true }); }</div>
</div>

<div class="labelDiv">@Html.LabelFor(v => v.EquipmentTypeDesc)</div>
<div class="shortTxtDiv">
    @Html.TextBoxFor(v => v.EquipmentTypeDesc)@Html.ValidationMessageFor(v => v.EquipmentTypeDesc)
</div>
<br /><br /><br /><br /><br /><br /><br />
@ODMSHelpers.Button("Save", CommonUtility.GetResourceValue("Global_Display_Save"), string.Empty, "EquipmentTypeCreate")
