<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
     <add key="passwordKey" value="ysIGuIEyj6rcJf3dE63mng==" />
    <add key="initVector" value="tu89geji340t89u2" />
  </appSettings>
    
  <runtime>
		<assemblyBinding>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
			</dependentAssembly>
		</assemblyBinding>
	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	   <dependentAssembly>
	    <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
	    <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
	   </dependentAssembly>
	   <dependentAssembly>
	    <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
	    <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
	   </dependentAssembly>
	   <dependentAssembly>
	    <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
	    <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
	   </dependentAssembly>
	  </assemblyBinding>
  </runtime>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportServiceSoap" />
        <binding name="ProjectServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ProjectServiceSoap1" />
        <binding name="ProjectServiceSoap2" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ProjectServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="ProjectServiceSoap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://172.18.228.55/ReportService/ReportService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ReportServiceSoap"
        contract="ReportService.ReportServiceSoap" name="ReportServiceSoap" />
      <endpoint address="https://servis.otokar.com.tr/svc_dms_otp/Project_dms.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProjectServiceSoap"
        contract="tr.com.otokar.service.ProjectServiceSoap" name="ProjectServiceSoap" />
      <endpoint address="https://servis.otokar.com.tr/svc_dms_otp/Project_dms.asmx"
        binding="customBinding" bindingConfiguration="ProjectServiceSoap12"
        contract="tr.com.otokar.service.ProjectServiceSoap" name="ProjectServiceSoap12" />
      <endpoint address="http://servis.otokar.com.tr/svc_dms/Project_dms.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProjectServiceSoap2"
        contract="OtokarServiceTest.ProjectServiceSoap" name="ProjectServiceSoap1" />
      <endpoint address="http://servis.otokar.com.tr/svc_dms/Project_dms.asmx"
        binding="customBinding" bindingConfiguration="ProjectServiceSoap121"
        contract="OtokarServiceTest.ProjectServiceSoap" name="ProjectServiceSoap121" />
    </client>
  </system.serviceModel>-->
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="KPSPublicSoap">
          <security mode="Transport" />
        </binding>
        <binding name="KPSPublicSoap1" />
        <binding name="ReportServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" useDefaultWebProxy="true" />
        <binding name="ProjectServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ProjectServiceSoap1" />
        <binding name="ReportServiceSoap1" />
        <binding name="ProjectServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="ProjectServiceSoap3" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ProjectServiceSoap12" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport maxReceivedMessageSize="6553600" />
        </binding>
        <binding name="ProjectServiceSoap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
      <webHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tckimlik.nvi.gov.tr/Service/KPSPublic.asmx" binding="basicHttpBinding" bindingConfiguration="KPSPublicSoap" contract="TCIdentity.KPSPublicSoap" name="KPSPublicSoap" />
      <endpoint address="http://172.18.228.55/ReportService/ReportService.asmx" binding="basicHttpBinding" bindingConfiguration="ReportServiceSoap1" contract="ReportService.ReportServiceSoap" name="ReportServiceSoap1" />
      <endpoint address="https://servis.otokar.com.tr/svc_dms/Project_dms.asmx" binding="customBinding" bindingConfiguration="ProjectServiceSoap12" contract="OtokarServiceTest.ProjectServiceSoap" name="ProjectServiceSoap12" />
      <endpoint address="https://servis.otokar.com.tr/svc_dms/Project_dms.asmx" binding="basicHttpBinding" bindingConfiguration="ProjectServiceSoap2" contract="tr.com.otokar.service.ProjectServiceSoap" name="ProjectServiceSoap" />
      <endpoint address="http://localhost/ODMSLiveReportService/ReportService.asmx" binding="basicHttpBinding" bindingConfiguration="ReportServiceSoap" contract="ReportService.ReportServiceSoap" name="ReportServiceSoap" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>